

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    width: 100%; 
    height: 100%;
    gap: 10px; /* optional spacing */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); /* 4x3 layout default */
}

.grid-item {
    border: 1px solid #000000;
    font-size: 30px;
    font-size-adjust: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.grid-item--button {
    border: 1px dashed #000000;
    cursor: pointer;
    transition: background-color 0.2s;
}

.grid-item--button:hover {
    background-color: #e0e0e034;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    html, body, #root {
        width: 100%;
        height: fit-content;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 600px) {
    html, body, #root {
        width: 100%;
        height: fit-content;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}